.todolistMain {
  width: 100%;
}
.header .header_display input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 100%;
  margin-right: 10px;
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.66);
  outline: none !important; /* Force le navigateur a mettre l'outline à nul ! */
}
.todolistMain button {
  padding: 10px;
  font-size: 16px;
  width: 150px;
  color: #fff;
  border: 2px solid #3379e8;
  background-color: #3379e8;
  margin: 5px;
  transition: opacity 0.15s ease-out;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.header_display {
  display: flex;
  align-items: center;
}
.listItems {
  padding-left: 0px;
  padding-top: 50px;
}
.listItems li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.listItems li span {
  cursor: pointer;
}
.listItems li span:hover {
  color: white;
}
.listItems li svg {
  font-size: 18px;
  color: #e14641;
  transition: color 0.15s ease-out;
}
.listItems li svg:hover {
  color: #cf7d7b;
}
.listItems .item {
  color: #333;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  transition: box-shadow 0.15s ease-out, background-color 0.15s ease-out;
  flex-grow: 1; /* Comme la propriété flex mais prend tout l'espace dispo */
  margin-right: 10px;
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.66);
}
.listItems .item-titre {
  font-weight: bold;
}
.listItems .item .item-description button {
  margin-top: 15px;
}
.listItems .item .item-description {
  display: flex;
  max-height: 0;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  font-size: 0.8em;
  transition: max-height 0.2s ease-out;
}
.listItems .item .item-description p {
  margin: 15px 0px 15px 0px;
}
.listItems .item.open .item-description {
  display: flex;
  max-height: 500px;
}
.listItems .item:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.66);
}
.loader {
  margin-top: 25%;
  font-size: 1.2em;
  font-weight: bold;
}
